*
  margin: 0
  padding: 0
  // border: 1px solid red
  box-sizing: border-box

ul
  list-style-type: none
body
  font-family: 'Josefin Sans', sans-serif
//Colors
$primaryBackgroundColor: white
$primaryColor: #424242
$secondaryBackgroundColor: darkblue
$secondaryColor: white
$golden: #b39656
$lightcoral: lightcoral
$alert: red
$submit: green
$login: #2403b4
.link,
  text-decoration: none
